<%-include('includes/header')%>

<div class="container py-md-5">
  <!--dynamically add error msg according to errors array of current session -->
  <%- include('includes/flash')%>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">¿Recuerdas lo que era Escribir?</h1>      
      <p class="lead text-muted">¿Estás cansado de los tweets cortos y de las publicaciones &ldquo;compartidas&rdquo; tan impersonales que recuerdan al viejo correo de los 90&rsquo;s?
        Creemos que la clave para disfrutar el internet de nuevo es regresar a la verdadera escritura significativa.</p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">

        <% regErrors.forEach(function(msg) { %>
          <div class="alert alert-danger text-center"><%=msg%></div>
        <% }) %>

          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Usuario</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Elige un usuario" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="nombre@ejemplo.com" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Contraseña</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Crea tu contraseña">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Regístrate para EscribApp</button>
          
        </form>
      </div>
    </div>
  </div>
  
<!-- footer begins -->
<%- include('includes/footer')%>